<!DOCTYPE html>
<html ng-app>
<head>
  <meta charset=utf-8 />
  <title>Angular Performance test</title>
</head>
<body>
<div ng-controller="Controller">
    <h2>Hello Angular!</h2> 
    <button ng-click="render()">Render</button>
    Total items: {{items.length}}
    <ul>
      <li ng-repeat="item in items">
        {{item.number}}
        <input ng-model="item.number">
      </li>
    </ul>
  </div> 
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.1/angular.min.js"></script>
  <script type="text/javascript">
    function Controller($scope) {
      $scope.items = [];
      $scope.render = function() {
        for(var i = 0; i < 4000; i++) {
          $scope.items.push({number: i});
        }
      };
    }
  </script>
</body>
</html>